.about {
    display: block;
    padding: 46px 15px 45px;
    justify-content: space-between;
    min-height: 255px;
    background-color: rgba(244, 245, 247, 1);
    font-family: Work Sans;
    font-size: 22px;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    @include for-large-up{
        display: flex;
        justify-content: space-between;
        min-height: 255px;
        background-color: rgba(244, 245, 247, 1);
        padding: 77px 131px 73px 130px;
      
    }

    &__text-wrapper {
      width: 100%;
      @include for-large-up{
        width: 555px;
        min-height: 102px;
    }

      &:first-child {
        margin-bottom: 31px;
        @include for-large-up{
            flex: 1;
            justify-content: space-around;
        }
      }
    }

    &__title {
      margin: 0;
      @include for-large-up{
        font-size: 22px;
        font-weight: 700;
        line-height: 32px;
        margin-top: 1px;
    }
    }

    &__description {
      margin: 0;
      letter-spacing: normal;
      margin: 9px 0 0 0;
      @include for-large-up{
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.05px;
        margin-top: 8px;
    }
    }
  }

