.audience {
    text-align: center;
    background-color: rgba(0, 161, 198, 0.07);
    padding: 114px 0 110px;
    margin: 0 auto 44px;
  
    &__first-title {
      font-size: 22px;
      font-weight: 700;
    }
  
    &__second-title {
      max-width: 555px;
      font-size: 56px;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: -0.5px;
      margin: 27px auto 30px;
    }
  
    &__text {
      max-width: 555px;
      font-size: 24px;
      font-weight: 400;
      line-height: 34px;
      margin: 0 auto 38px;
    }
  
    &__learn-more {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 1e-5) 100%
        ),
        #ffffff;
      color: rgba(0, 0, 0, 1);
      padding-top: 1px;
      margin: 0 0 111px 3px;
    }
  
    &__cads-wrapper {
      display: flex;
      justify-content: space-between;
      width: 1139px;
      height: 300px;
      margin: 0 auto;
    }
  }
  
  .user-card {
    display: block;
    text-align: center;
    width: 262px;
    height: 300px;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-5) 100%),
      #ffffff;
    border-radius: 8px;
    & > img {
      display: block;
      margin: 22px auto 24px;
    }
  
    &:hover {
      background-color: $blue-color;
      color: $light-color;
    }
  }
  
  @include small-screen {
    .audience {
      padding: 49px 15px 35px;
      margin: 0;
  
      &__first-title {
        line-height: 34px;
      }
  
      &__second-title {
        width: 100%;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.36px;
        margin: 17px 0;
      }
      
      &__text {
        width: 100%;
        margin: 0 0 30px 0;
      }
  
      &__learn-more {
        width: 100%;
        padding: 0;
        margin: 12px 0 0 0;
      }
  
      &__get-started {
        width: 100%;
      }
  
      &__cads-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 40px 0 0 0;
      }
    }
    
    .user-card {
      width: 100%;
      height: 300px;
      margin-bottom: 15px;
    }
  }
  