.button{
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  width: 160px;
  border: none;
  cursor: pointer;
  &_blue{
    color: #FFFFFF;
    background-color: #3040C4;

  }
  &_white{
    color: #3040C4;
    background-color: #FFFFFF;

  }
}
.hide_desktop{
    @include for-large-up{
        display: none;
    }
}
.hide_mobile{
    @include for-large-down{
        display: none;
    }
}
.icon-arrow__right{
    display: block;
    background-image: ('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png');
    width: 7px;
    height: 12px;
}
