.header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0; 
    width: 320px; 
    height: 64px; 
    align-items: center; 
    justify-content: space-between; 
    background-color: rgb(255, 255, 255); 
    box-shadow: 0px 4px 16px rgba(44, 50, 65, 0.08); 
    padding: 0 15px; 
  
    @include for-large-up {
      position: relative; 
      background-color: transparent; 
      box-shadow: unset; 
      width: 100%; 
      padding: 39px 130px; 
    }
  
  

    &__button {
        display: none;

        @include for-large-up {
            display: block;
            width: 160px;
        }
    }

    &__menu-button {
        width: 58px;
        border: none;
        border-left: 1px solid #00000026;
        height: 100%;
        margin-left: auto;
        background: transparent;

        @include for-large-up {
            display: none;
        }
    }

    &__menu-icon {
        width: 18px;
        height: 13px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png');
        display: inline-block;
    }
}

.logo {
display: flex;

    &__footer{
        @include for-large-down {
            display: none;
        }

    }

    &__image {
        width: 48px; 
        height: 48px;
        margin-right: 13px;

        @include for-large-up {
            width: 60px;
            height: 60px;
        }
    }

    &__name {
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
        margin: 0 0 0 8px;
    }

    &__description {
        display: none;

        @include for-large-up {
            display: block;
            font-size: 16px; 
            line-height: 22px;
            color: #2b292d;
            opacity: 0.6;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.navigation {
    display: none;

    @include for-large-up {
        display: block;
        margin-left: auto;
        margin-top: 7px;
        margin-right: 75px;
    }

    &__item {
        color: #2b292d;
        text-decoration: none;
        line-height: 25px;
        font-size: 18px;
        margin-right: 50px;

        &:hover {
            font-weight: 700;
        }
    }

    &__item_selected {
        font-weight: 700;
    }

    &__arrow {
        display: inline-block;
        height: 5px;
        width: 8px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png');
        margin-left: 11px;
    }
}

.top-section {
    background-color: #f3c6bd; 
    padding-top: 99px;


    @include for-large-up {
        padding-top: 39px;
    }
}