.headline {
    position: relative;
    padding: 35px 15px 36px;
    @include for-large-up{
        position: relative;
        padding-left: 130px;
    }

    &__title {
      width: 100%;
      font-size: 50px;
      line-height: 50px;
      letter-spacing: -0.31px;
      margin: 0;
      @include for-large-up{
        position: relative;
        z-index: 2;
        width: 754px;
        font-size: 80px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: -0.5px;
        margin: 76px 0 0 -4px;
    }
    }

    &__text {
      width: 100%;
      margin: 29px 0 32px;
      @include for-large-up{
        width: 456px;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        margin: 43px 0 58px;
    }
    }

    &__banner {
        position: relative;
        bottom: 0px;
        right: 15px;
        display: block;
        width: 320px;
        height: 180px;
      @include for-large-up{
        all: unset;
        position: absolute;
        max-width: 796px;
        max-height: 448px;
        right: 25px;
        top: 84px;
        }
    }
    &_button{

      @include for-large-down{
        margin-bottom: 15px;
        width: 100%;

        }
    }
  }