@import 'breakpoints.scss';
@import 'variables.scss';
@import 'common.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'tips.scss';
@import 'order.scss';
@import 'audience.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html{
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    color: #2b292d;
}
.page {
    width: 320px;
  }
@media screen and (min-width: 1400px) {
    .page{
        position: relative;
        width: 1400px;
        margin: 0 auto;
    }
}



