$main-background-color: rgba(244, 245, 247, 1);

$main-text-color: rgba(43, 41, 45, 0.6);

$border-color: rgba(227, 227, 227, 1);

$light-color: rgba(255, 255, 255, 1);

$blue-color: rgba(49, 66, 198, 1);

$green-color: rgba(0, 155, 77, 1);

$line-color: rgba(0, 0, 0, 0.1);

